<section id="endhotcode">
  <h1>HotCode</h1>
  <p>
    谢谢观看！
  </p>
</section>

<section id="transition">
<section id="transitions">
  <h1>开始</h1>
  <p>
    向下滑动选择特效与主题
  </p>
</section>

<section id="transitions">
  <h2>切换特效</h2>
  <p>
    你可以选择以下切换效果<br><br>
    <a href="?transition=none#/transitions">无效果</a> -
    <a href="?transition=fade#/transitions">淡化</a> -
    <a href="?transition=slide#/transitions">平铺</a> -
    <a href="?transition=convex#/transitions">旋转</a> -
    <a href="?transition=concave#/transitions">内旋</a> -
    <a href="?transition=zoom#/transitions">放大</a>
  </p>
</section>

<section id="themes">
  <h2>皮肤</h2>
  <p>
    你可以选择下面这些皮肤 <br>
    <!-- Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck. -->
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/black.css'); return false;">Black (default)</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/white.css'); return false;">White</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/league.css'); return false;">League</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/sky.css'); return false;">Sky</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/beige.css'); return false;">Beige</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/simple.css'); return false;">Simple</a> <br>
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/serif.css'); return false;">Serif</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/blood.css'); return false;">Blood</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/night.css'); return false;">Night</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/moon.css'); return false;">Moon</a> -
    <a href="#" onclick="document.getElementById('theme').setAttribute('href','/css/theme/solarized.css'); return false;">Solarized</a>
  </p>
</section>
</section>
